@model Northwind.Entities.DTOs.UserForUpdateDto
@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Edit Profile</h3>
    </div>
    <div class="card-body">
        <form id="userEditForm" class="form-horizontal" action="/Admin/MyProfile/Edit" method="post">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.Email)
            <div class="form-group row">
                <label for="FirstName" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input name="FirstName" type="text" class="form-control" id="FirstName" placeholder="First Name" value="@Model.FirstName">
                </div>
            </div>
            <div class="form-group row">
                <label for="LastName" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input name="LastName" type="text" class="form-control" id="LastName" placeholder="Last Name" value="@Model.LastName">
                </div>
            </div>
            <div class="form-group row">
                <label for="Password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input name="Password" type="password" class="form-control" id="Password" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="RetypePassword" class="col-sm-2 col-form-label">Retype Password</label>
                <div class="col-sm-10">
                    <input name="RetypePassword" type="password" class="form-control" id="RetypePassword" placeholder="Retype Password">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Styles{
    <!-- Toastr -->
    <link rel="stylesheet" href="~/theme/plugins/toastr/toastr.min.css">
}
@section Scripts{
    <!-- Toastr -->
    <script src="~/theme/plugins/toastr/toastr.min.js"></script>
    <script>
        $(function () {
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
            }
        });
    </script>

    @if (TempData["userErrorUpdate"] != null)
    {
        <script>
        $(function () {
            toastr.error('@TempData["userErrorUpdate"]')
        });
        </script>
    }
    @if (TempData["userPasswordMatchError"] != null)
    {
        <script>
        $(function () {
            toastr.error('@TempData["userPasswordMatchError"]')
        });
        </script>
    }

    <script src="~/theme/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/theme/plugins/jquery-validation/additional-methods.min.js"></script>
    <script>
        $(function () {
            $('#userEditForm').validate({
                rules: {
                    FirstName: {
                        required: true,
                        maxlength: 40
                    },
                    LastName: {
                        required: true,
                        maxlength: 40
                    },
                    Password: {
                        required: true,
                        maxlength: 40,
                        minlength: 6
                    },
                    RetypePassword: {
                        required: true,
                        maxlength: 40,
                        minlength: 6
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });</script>
}